In [46]:
print(4//2)

2

In [44]:
n=1
sum=0

while(n<=100):
    sum= sum + n
    n=n+1

print(sum)

5050

In [40]:
# Print even numbers between 1 and 20 using a while loop.
n=1
while(n<20):
    if(n%2==0):
        print(n,"even")
    n+=1

2 even
4 even
6 even
8 even
10 even
12 even
14 even
16 even
18 even

In [37]:
# Print numbers from 1 to 10 using a for loop.

numm=10


for i in range(0,10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:

# Write a program to find the largest among three numbers.

n1=9
n2=2
n3=4
large:int



if(n1>n2):
    large=n1
    if(n3>large):
       large=n3
else:
    large=n2
print(large)

9

In [ ]:
# Check if a number is odd or even using bitwise operators
n1=4 


if(n1 & 1):
    print("this number is odd");
else:
    print("number is even")

number is odd

In [ ]:
n1=4 
n2=5
n3=2

if(n1<n2<n3):
    print("number are in ascedning order")

In [ ]:
# Write a program to find the remainder when a number is divided by another.

# Check whether a number is even or odd using the modulus operator.


num4=3
num5= 2

print(num4%num5)

if(num5%2==0):
    print("numer is even", num5)

1
numer is even 2

In [11]:
# Write a program that takes a user’s first name and last name and prints initials in uppercase (e.g., Sujan Khatri → S.K.).
fname= "sujan"
lname= "khatri"

fname_f= fname[0].upper()
lname_f= lname[0].upper()
print(fname_f)
print(lname_f)

S
K

In [ ]:
# Given a float value, round it to 2 decimal places and convert it to a string.

num3=5.236
roundedNum= round(num3,2)
print(roundedNum)
print(type(roundedNum))
roundedStr= str(roundedNum)
print(type(roundedStr))

5.24
<class 'float'>
<class 'str'>

In [4]:
num1=5
print(num1 ** 2)
print(num1 ** 3)

25
125

In [3]:
##Take two inputs from the user and print their sum.
input1= input("enter the num1")
input2= input("enter the num2")

print(int(input1)+ int(input2))

3

In [2]:
##Swap two numbers without using a third variable.
a=10;
b=3;
a=a+b;
b=a-b;
a=a-b;
print(a);
print(b)

3
10